nav{
    padding-left: 700px;
}
h1{
    color: red ;
    text-align: center;
    text-decoration: underline;
}
h3{
    text-align: center;
    color: black !important;
    text-decoration: underline;
}
p{

    text-align: left;
    padding-left: 100px;
    padding-bottom: 100px;
}
img{
    width: 225px;
    height: 225px;
    padding-left: 200px;
}
iframe{
    width: 410px;
    height: 410px;
}

.box #child{
    float:right;
}

.leftBox{
    float: left;
    margin: 0;
    padding: 0;
}

.rightBox{
    padding-left: 42%;
    color: blue;
}
.centerBox{
    padding-left: 200px;
}
#Awards h3{
    padding-top: 100px;
    text-decoration: none;
}
#Awards ol li:nth-of-type(odd){
    margin-top: 0;
    color: red;
}
#Awards ol li:nth-of-type(even){
    color: blue;
}
#PopMedia ul li:nth-of-type(odd){
    color: blue;
}
#PopMedia ul li:nth-of-type(even){
    color: red;
}